{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}

{% block body %}
<h1>Main page</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Ad accusantium perspiciatis alias aut.</li>
<li>Odit assumenda excepturi rerum quisquam!</li>
<li>Reiciendis pariatur assumenda delectus quod.</li>
<li>Excepturi harum esse quis officiis?</li>
<li>Minus quibusdam obcaecati praesentium modi.</li>
<li>Molestias id eligendi voluptate nisi.</li>
<li>Assumenda molestiae culpa temporibus consequatur.</li>
<li>Obcaecati explicabo molestiae rerum facilis?</li>
<li>Quam quos eius aut nulla?</li>
<li>Facere labore quidem nemo quisquam.</li>
<li>Obcaecati, ratione? Temporibus, quidem harum.</li>
<li>Modi molestias sint eveniet culpa!</li>
<li>Sint corrupti eius distinctio id!</li>
<li>Provident ipsa necessitatibus perspiciatis aliquid.</li>
<li>Ex corporis suscipit assumenda possimus.</li>
<li>Consequatur voluptate nulla labore temporibus.</li>
<li>Dolor cum quisquam consequatur assumenda?</li>
<li>Quaerat adipisci sunt hic quo?</li>
<li>Iure porro quos numquam labore.</li>
<li>Perspiciatis quo cum ipsam at?</li>
<li>Molestias eaque dolor quae accusamus.</li>
<li>Explicabo quasi in iusto! Debitis?</li>
<li>Error quam repudiandae odit nemo.</li>
<li>Repudiandae consectetur nobis dolores rem!</li>
<li>Illo voluptatem harum magnam quos?</li>
<li>Repellat consequatur rem inventore laborum!</li>
<li>Itaque voluptatem saepe tenetur corrupti?</li>
<li>Alias amet saepe repellendus eum?</li>
<li>Deleniti reprehenderit odio autem hic?</li>
<li>Dicta a facilis quasi maxime.</li>
<li>Sequi aliquid est minus perferendis?</li>
<li>Beatae libero doloribus saepe fugit.</li>
<li>Repudiandae molestiae error obcaecati quia.</li>
<li>Ad assumenda dolore error eius!</li>
<li>Tenetur saepe necessitatibus officia eum.</li>
<li>Eum minima tempora provident laborum.</li>
<li>Odit neque assumenda maxime labore!</li>
<li>Commodi sint ipsam expedita delectus.</li>
<li>Natus ipsam quas ipsa aspernatur?</li>
<li>Quis dolore tempore nulla quos.</li>
<li>Perferendis provident illum delectus culpa!</li>
<li>Incidunt quisquam numquam doloribus beatae?</li>
<li>Rerum nostrum quidem totam debitis.</li>
<li>Voluptatum reiciendis facere ex explicabo?</li>
<li>Facilis aliquid debitis accusamus suscipit?</li>
<li>Voluptas quae temporibus ducimus libero?</li>
<li>Totam ea ab reprehenderit. Ea?</li>
<li>In numquam fugit officiis sapiente?</li>
<li>Provident sequi distinctio minus eaque.</li>
<li>Ratione perferendis illum perspiciatis voluptatibus?</li>
<li>Fuga ea reiciendis possimus perferendis.</li>
<li>Facere unde nam sunt magnam.</li>
<li>Culpa reiciendis quasi ipsa exercitationem.</li>
<li>Ad, eum hic? Quibusdam, veniam!</li>
<li>Mollitia excepturi voluptatem quasi perspiciatis.</li>
<li>Animi officiis sequi nisi fugiat!</li>
<li>Eos ad tempore doloribus! Molestiae.</li>
<li>Mollitia ducimus dolores delectus quaerat?</li>
<li>Corrupti aut neque adipisci mollitia!</li>
<li>Error saepe possimus nihil nulla?</li>
<li>Laboriosam repellendus vitae maxime quis?</li>
<li>Nostrum vero natus aspernatur obcaecati.</li>
<li>Velit illo ipsa corporis vel.</li>
<li>Sapiente obcaecati accusamus nulla quasi.</li>
<li>Harum voluptatum ex maxime sunt.</li>
<li>Fugiat earum architecto id quae.</li>
<li>Adipisci dignissimos eveniet deserunt repudiandae.</li>
<li>A quo suscipit accusantium officiis.</li>
<li>Quaerat, odit molestias. Animi, ratione.</li>
{% endblock %}
